@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                    @if (context.User == null || !context.User.Identity.IsAuthenticated)
                    {
                        NavigationManager.NavigateTo("auth/login", true);                    
                    }
                    else
                    {
                        <LayoutView Layout="@typeof(EmptyLayout)">
                            <p>You are not authorized to access this resource.</p>
                        </LayoutView>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Page not found.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
